body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  ;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  line-height: 1;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.2rem;
  padding-bottom: 10px;
  line-height: 1;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 1;
}

.top_container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle_container {

  margin: auto;

}

.bottom_container {
  background-color: #66BFBF;
  margin: auto;
}


.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomcloud {
  position: absolute;
  left: 250px;
  bottom:300px;
}

.skill-row {
  width: 100%;
  margin: auto;
  text-align: center;
}

.code-image {
  width: 20%;
}

.ai-image {
  width: 20%;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {
  background-color: white;
  margin: 100px, auto;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 4%;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 40px;
  text-decoration: none;

}

a:hover {
  color: #40514E;
}

.copyright {
  color: #11999E;
  font-size: 0.75rem;
}
